*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: blueviolet;
}
.todoapp{
    min-height: 300px;
    width: 550px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 60px;
    border-radius: 10px;
}
.todoapp h2{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   margin-left: 30px;
}
.todoapp h2 img{
    width: 30px;
    margin-left: 15px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
   
}
input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    border: None;
    outline: none;
    background-color: whitesmoke;
    padding: 20px;
    padding-left: 40px;
    font-size: 15px;
}
button{
    height: 35px;
    width: 80px;
    border-radius: 20px;
    background-color: coral;
    border: None;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: chartreuse;
}
ul{
    margin-top: 10px;
    margin-left: 25px;
}
ul li{
    
    list-style: none;
    font-size: 18px;
    padding: 10px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    position: absolute;
    width: 25px;
    height: 25px;
    content: '';
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 14px;
    left: 10px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #555;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;
}
